
S3method(predict,usrData)

export(findYdotsMM,predict.ydotsMM,plot.ydotsMM,trainMM,
       findYdotsMLE,predict.ydotsMLE,trainMLE,
       ### formUserData,predict.usrData, cosDist,
       xvalMM,xvalMLE,xvalCos,
       plot.ydotsMM,plot.xvalb,
       # getTrainSet,getTestSet,trainReco,xvalReco,
       focusGrp,
       trainMultiplic,predict.MMmultiplic,xvalMultiplic,
       ratingness,covratingness)

