
S3method(predict,usrData)
S3method(predict,RecoS3)



export(findYdotsMM,predict.ydotsMM,plot.ydotsMM,trainMM,
       findYdotsMLE,predict.ydotsMLE,trainMLE,
       formUserData,predict.usrData,cosDist,
       xvalMM,xvalMLE,xvalCos,
       plot.ydotsMM,plot.xvalb,
       getTrainSet,getTestSet,trainReco,xvalReco,
       focusGrp,
       ratingness,covratingness)


